---
import Copyright from './Copyright.astro'
import SocialLinks from '../SocialLinks.astro'
---

<footer class="border-t border-zinc-200 dark:border-zinc-700">
	<div class="mx-auto grid max-w-6xl gap-16 px-4 py-16 md:px-8">
		<nav class="flex flex-col items-center gap-4">
			<h2 class="text-lg font-semibold text-zinc-950 sm:text-xl lg:text-2xl dark:text-zinc-50">
				Social Media
			</h2>
			<SocialLinks />
		</nav>

		<Copyright />
	</div>
</footer>
