---
import '../styles/global.css'

import { config } from '../site.config.ts'
import { ClientRouter } from 'astro:transitions'
import { Font } from 'astro:assets'

import Header from '../components/Header.astro'

const { languageCode } = config
---

<html
	lang={languageCode}
	data-theme="dark"
	class:list={[
		'bg-neutral-50 text-neutral-700',
		'dark:bg-neutral-800 dark:text-neutral-300',
		'font-geist'
	]}
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Masputrawae</title>

		<Font cssVariable="--font-geist" preload />
		<ClientRouter />
	</head>
	<body class:list={['mx-auto max-w-5xl']}>
		<Header />
		<slot />
	</body>
</html>
