---
import '../styles/global.css'

import { config } from '../site.config.ts'
import { ClientRouter } from 'astro:transitions'
import { Font } from 'astro:assets'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const { languageCode } = config
---

<html
	lang={languageCode}
	data-theme="dark"
	class:list={[
		'bg-neutral-50 text-neutral-700',
		'dark:bg-neutral-800 dark:text-neutral-300',
		'font-geist'
	]}
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Masputrawae</title>
		<script>
			import { main } from '../components/scripts/main.ts'
			main()
		</script>
		<Font cssVariable="--font-geist" preload />
		<ClientRouter />
	</head>
	<body class:list={['mx-auto max-w-5xl']}>
		<Header />
		<div class="min-h-[calc(100dvh-16rem)]">
			<slot />
		</div>
		<Footer />
	</body>
</html>
